@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}
.App {
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(211, 212, 217, 1);
  border-radius: 12px;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.22);
  padding: 15px;
}
.heading {
  display: flex;
  font-size: 48px;
  font-weight: 700;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 10px;
}
.heading > img {
  width: 86px;
  height: 86px;
}
.container > .form-div {
  padding-left: 12px;
}
.container > .form-div > form {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  gap: 10px;
}
.container > .form-div > form > input {
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 12px;
  border: none;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(211, 212, 217, 1);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.22);
  box-sizing: border-box;
}
.container > .form-div > form > button {
  display: flex;
  align-items: center;
  font-size: 24px;
  background: rgba(146, 64, 14, 1);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.22);
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
}
.container > .form-div > form > button:hover {
  cursor: pointer;
}
.container > .form-div > form > button > img {
  width: 36px;
  height: 36px;
  margin-right: 5px;
}
.all-notes {
  padding-left: 12px;
}
.all-tasks {
  height: 220px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #923f0e rgba(255, 255, 254, 0.64);
  
}
.all-tasks > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.all-tasks > ul > li > hr {
  border: 1px solid rgba(197, 202, 211, 1);
}

input::placeholder,
textarea::placeholder {
  color: rgba(48, 60, 77, 0.64);
  /* background: rgba(48, 60, 77, 0.64); */
}
